:host{
  h2, a{
    color: #000 !important;
  }

  .listBtn{
    color: #000 !important;
  }

  .listBtn:hover{
    color: #FFF !important;
  }

  i.listBtn{
    background-color: white !important;
  }


  a.btn:hover{
    color: #FFF !important;
  }
}