@import '../../../../assets/variaveis.scss';
@import '../../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

:host{
  img{
    width: 80px !important;
  }
  .btn-sm{
    margin-top: 2px !important;
  }
  .btn-delete{
    margin-left: 5px !important;
  }
  .popover{
    position: absolute;
    left: 0;right: 0;
  }
  .popover-arrow{
    position: absolute;
  }
  .tooltip{
    position: absolute;
  }
  .tooltip-arrow{
    position: absolute;
  }
}
@media screen and (max-width: 768px){
  img{
    width: 60px !important;
  }
  b{
    display: none !important;
  }
  i{
    margin-left: 0px !important;
  }
  .res{
    display: none !important;
  }
}
